@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
    background-color: dodgerblue;
    margin-left: 100px;
    margin-top: 90px;
}

.image {float: right;
    position: relative;
    margin-top: -595px;
}

.event h1 {font-family: Univers; 
    text-transform: uppercase;
    font-weight: 900;
    font-size: 125px;
    color: yellow;
    width: 600px;
    clear: right;
}

.event h2 {font-family: Univers;
    font-weight: 100;
    font-size: 75px;
    margin-top: 70px;
}

.date {margin-top: 95px;
    font-size: 50px;
    font-weight: bolder;
    color: ghostwhite;
}

.contact {margin-top: 50px;
    font-size: 30px;
}

.website {margin-top: 25px;
    font-size: 30px;
}

.website h3 {font-weight: bold;
}

#hotline {font-weight: bold;
}

hr {color: ghostwhite;
    margin-top: 100px;
    width: 1050px;
    float: left;
}

section {clear: both;
    padding-bottom: 100px;
    overflow: hidden;
}

.directed {padding-top: 100px;
    width: 250px;
    float: left;
}

.written {width: 250px;
    padding-top: 100px;
    display: inline-block;
    float: left;
}

.produced {width: 350px;
    float: left;
    padding-top: 100px;
}

.cast {width: 250px;
    float: left;
    padding-top: 100px;
}

h4 {font-weight: bolder;
}

.directed, .written, .produced, .cast {font-size: 30px;
    color: ghostwhite;
}