body {
    font-family: Univers;
}

section.titlepage {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: rgb(83,79,78);
    text-align: center;
    font-size: 14px;
}

.logotype {
    padding-top: 275px;
}

.titlepage h5 {
    padding-top: 175px;
}

.arrow {
    padding-top: 25px;
}

.header {
    padding-top: 75px;
    padding-left: 75px;
    float: left;
}

nav {
    text-align: right;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    padding-top: 50px;
}

.work {
    padding-top: 50px;
    padding-right: 250px;
    text-align: right;
}

.work h4 {
    text-decoration: line-through;
    padding-right: 25px;
    text-align: right;
    
}

nav p {
    font-size: 14px;
    padding-right: 25px;
    line-height: 1.3em;
    text-align: right;
}

.contact {
    padding-top: 25px;
}

.work, .about, .contact {
    font-size: 16px;
}

.runner-image img {
    margin-left: 75px;
    margin-top: -150px;
    border: solid 1px;
    border-color: black;
    box-sizing: border-box;
}

.geometric-image img {
    margin-top: -150px;
    margin-left: 460px;
    border: solid 1px;
}

.interstitial-image img {
    margin-left: 267.5px;
    margin-top: 40px;
}

.editorial-image img {
    margin-left: 363.772px;
    margin-top: 40px;
}

.clockwork-image img {
    margin-left: 75px;
    margin-top: -100px;
}

.rediscover-image img {
    margin-left: 460px;
    margin-top: -185.549px;
}

.transients-image img {
    margin-left: 75px;
    margin-top: -100px;
    border: solid 1px;
}

.virtues-image {
    margin-left: 171.25px;
    margin-top: 40px;
    margin-bottom: 200px;
}

.nav {
    clear: all;
    padding-left: 700px;
}

.about a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.runner-active {
    color: blue;
}

.bio {
    text-align: left;
    margin-left: 150px;
    margin-right: 600px;
    margin-top: 150px;
}

.bio h1 {font-size: 30px;
    text-transform: lowercase;
    padding-bottom: 30px;
    font-weight: 900;
}

.about, .contact {
    margin-right: 150px;
}

.about {
  padding-top: 50px;
}

.bio p {
    line-height: 1.4em;
    font-size: 15px;
}

.projects {
    position: relative;
}

.images {
    padding-top: 100px;
    width: 800px;
    position: relative;
}
